@model Service

<h2>
    <span id="serviceName">@Model.Name</span>
</h2>

<div>
    <h3>
        Description
    </h3>
    <p><span id="serviceDescription">@Model.Description</span></p>
</div>

<div>
    <h3>
        Location
    </h3>
    <p><span id="serviceDescription">@Model.Location</span></p>
</div>

<div>
    <h3>Posts</h3>
    @if (Model.Posts != null)
    {
        <ul>
            @foreach (var post in Model.Posts)
            {
                <li>
                    @if (post.ImageData != null)
                    {
                        <img src="@Url.Action("GetPostImage", "Home", new { postid = post.ID })" alt="Attached Image" style="max-width: 100px; max-height: 100px;" />
                    }
                    <strong>@post.Title:</strong> @post.Text
                </li>
            }
        </ul>
    }
    else
    {
        <p>No posts yet.</p>
    }
</div>

<div>
    <h3>Appointments</h3>
    @if (Model.Appointments != null)
    {
        <ul>
            @foreach (var appointment in Model.Appointments)
            {
                <li>
                    <strong>@appointment.Date:</strong>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" action="@Url.Action("ApplyForAppointment", "Guest")">
                        @Html.Hidden("appointmentId", appointment.ID)
                        <button type="submit">Apply</button>
                    </form>
                }
                else
                {
                    <p>You need to <a href="@Url.Action("CreateAccount", "Account")">create an account</a> to apply for this appointment.</p>
                }
            }
        </ul>
    }
    else
    {
        <p>No appointments available.</p>
    }
</div>