@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <h2 class="text-center" id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
            <hr />

            <p class="text-info text-center">
                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                Please enter an email address for this site below and click the Register button to finish
                logging in.
            </p>

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label for="Input_FirstName" class="form-label">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" id="Input_FirstName" autocomplete="firstname" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Input_SurName" class="form-label">Surname</label>
                    <input asp-for="Input.SurName" class="form-control" id="Input_SurName" autocomplete="surname" />
                    <span asp-validation-for="Input.SurName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Input_Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="Input_Email" autocomplete="email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Input.PictureUrl" />
                <input type="hidden" asp-for="Input.PictureData" />
                <input type="hidden" asp-for="Input.PictureContentType" />

                <div class="mb-3 form-check">
                    <input asp-for="Input.IsHost" class="form-check-input" id="Input_IsHost" />
                    <label class="form-check-label" for="Input_IsHost">
                        @Html.DisplayNameFor(m => m.Input.IsHost)
                    </label>
                </div>

                <button type="submit" class="btn btn-two shadow-none w-100">Register</button>
            </form>

            <div class="mt-4 text-center">
                <img src="data:@Model.Input.PictureContentType;base64,@Model.Input.BytesAsString" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
