@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="col-md-4 offset-md-4 mt-5">

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="mt-5">
        <h2 class="text-center">Create a new account</h2>
        <hr class="mb-4" />

        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="mb-3">
            <label asp-for="Input.FirstName" class="form-label">First Name</label>
            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Enter your first name">
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.SurName" class="form-label">Last Name</label>
            <input asp-for="Input.SurName" class="form-control" autocomplete="surname" aria-required="true" placeholder="Enter your last name">
            <span asp-validation-for="Input.SurName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your password">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" asp-for="Input.IsHost" id="is-host">
            <label class="form-check-label" for="is-host">@Html.DisplayNameFor(m => m.Input.IsHost)</label>
        </div>

        <div class="mb-3">
            <label asp-for="Input.ProfilePicFile" class="form-label">Profile Picture</label>
            <input type="file" asp-for="Input.ProfilePicFile" class="form-control">
        </div>

        <div class="mb-3">
            <button id="registerSubmit" type="submit" class="btn btn-two w-100">Register</button>
        </div>
    </form>

    <section class="mt-4">
        <h3 class="text-center">Use another service to register</h3>
        <hr class="mb-4" />

        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-two w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
