@model Appointment

<h3>Manage Applicants for @Model.Service.Name appointment at @Model.Date</h3>

@if (Model.Applicants.Count == 0)
{
    <p>No applicants for this appointment.</p>
}
else
{
    <p>Number of applicants: @Model.Applicants.Count / @Model.MaxApplicants</p>
    if (@Model.Applicants.Count == @Model.MaxApplicants)
    {
        <p>This appointment is full :)</p>
    }
    <table class="table">
        <thead class ="text-light">
            <tr class ="text-light">
                <th>Applicant Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-light">
            @foreach (var applicant in Model.Applicants)
            {
                <tr class="text-light">
                    <td class ="text-light">@applicant.FirstName @applicant.SurName</td>
                    <td class="text-light">@applicant.Email</td>
                    <td class="text-light">
                        <form asp-controller="Host" asp-action="RemoveApplicant" method="post" class="text-light">
                            <input type="hidden" name="appointmentId" value="@Model.ID" class="text-light" />
                            <input type="hidden" name="applicantId" value="@applicant.Id" class="text-light" />
                            <button type="submit" class="btn btn-three">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}